[Unit]
Description=Renew our Lets Encrypt certificate using acme-tiny
Requires=network-online.target

[Service]
Type=oneshot
ExecStart=/etc/acmetiny/acmetiny_renew.sh
Restart=on-failure
RestartSec=5s
