  _         __  __         _
 | |   _   _\ \/ /___ _ __(_) __ _
 | |  | | | |\  // _ \ '__| |/ _` |
 | |__| |_| |/  \  __/ |  | | (_| |
 |_____\__,_/_/\_\___|_|  |_|\__,_|

Welcome to {{ ansible_fqdn }}!

Responsible for this host is {{ responsible }}.
